services:
  klasyfikator:
    build:
      context: ./
    container_name: "${ENV_NAME}-klasyfikator"
    image: "ghcr.io/kuball1000/Inzynierka_klasyfikator/klasyfikator:${BRANCH}"
    env_file: 
      - path: .env
        required: false
    networks:
      - traefik
    labels:
      - "traefik.enable=false"
    restart: always
networks:
  traefik:
    external: true